:root {
	--background: #aaa;
}

* {
	padding: 0;
	margin:  0;
}

.line {
	padding: 10px;
}

.character {
	position: relative;
	width: 100px;
	height: 100px;
	background: var(--background);
}


/* CIRCLE */
.circle-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width:  30%;
	height: 30%;
	background: black;
	border-radius: 50%;
}

.inner-circle {
	width:  60%;
	height: 60%;
	background: var(--background);
	border-radius: 50%;
}
/* ======= */

/* DOT */
.dot-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot {
	width:  5%;
	height: 5%;
	background: black;
	border-radius: 50%;
}
/* ======== */

/* UPPER ARM */
.upper-arm {
	position: absolute;
	width: 100%;
	height: 100%;
	/*transform: rotate(0deg);*/
}

.left-arm {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
}

.bottom-arm {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
}

.right-arm {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(90deg);
}

/* UPPER LIMB */
.limb-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.limb {
	margin-top: 5px;
	width: 5%;
	height: 35%;
	background: black;
}
/* ======== */

/* UPPER LEFT PROBE */
.probe-left-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.probe-left {
	margin-top: 5px;
	margin-right: 10%;
	width: 15%;
	height: 5%;
	background: black;
}
/* ======== */

/* UPPER MIDDLE PROBE */
.probe-mid-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.probe-mid {
	margin-top: 5px;
	width: 15%;
	height: 5%;
	background: black;
}
/* ======== */

/* UPPER RIGHT PROBE */
.probe-right-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.probe-right {
	margin-top: 5px;
	margin-left: 10%;
	width: 15%;
	height: 5%;
	background: black;
}
/* ======== */

/* UPPER LEFT ALTERNATIVE PROBE */
.altprobe-left-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.altprobe-left {
	margin-right: 20%;
	width: 5%;
	height: 15%;
	background: black;
}
/* ======== */

/* UPPER RIGHT ALTERNATIVE PROBE */
.altprobe-right-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.altprobe-right {
	margin-left: 20%;
	width: 5%;
	height: 15%;
	background: black;
}
/* ========= */

/* CENTER PROBE */
.center-probe {
	width: 100%;
	height: 100%;
	translate: 0 17%;
}
/* ======== */